.filter {
    width: 94%;
    margin: 10px auto 0 auto;
}

.filter .mui-col-xs-6 {
    text-align: center;
    background: #efeff4;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}

.filter .mui-icon {
    font-size: 12px;
}

.product {
    padding: 0 10px;
}

.product .title {
    width: 100%;
}

.product ul {
    overflow: hidden;
}

.product ul li {
    width: 50%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

.product ul li a {
    display: block;
    box-shadow: 0 0 5px #ccc;
    padding: 5px;
}

.product ul li a img {
    width: 100%;
}

.product ul li .name {
    display: block;
    color: #8f8f94;
    font-size: 14px;
    text-align: center;
    height: 38px;
    line-height: 18px;
    overflow: hidden;
}

.product ul li p {
    text-align: center;
    padding-top: 6px;
}

.product ul li p span:first-child {
    color: #f20;
    padding-right: 4px;
}

.product ul li p span:last-child {
    text-decoration: line-through;
}

.product ul li .buy-now {
    display: block;
    width: 82px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    margin: 0 auto 5px auto;
    background-color: #006699;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
}

#refreshContainer {
    position: absolute;
    top: 45px;
    bottom: 50px;
}