// 定义变量与值
$whiteColor:#fff;
$orangeColor:#f30;
$blueColor:#069;
// flex布局，从左边开始
@mixin Flex_start{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.mui_content{
    margin-top:44px;
    @include Flex_start;
    .category_left{
       
        .mui-scroll-wrapper{
            width: 100px;
            .mui-scroll{
                background: #f5f5f5;
                a{
                    display: block;
                    text-align: center;
                    padding:6px 0;
                    border-right: 1px solid #666;
                    border-bottom: 1px solid #666;
                    font-size: 12px;
                }
            }
        }
    }
    .category_right{
        width: 80%;
        padding: 10px;
        ul{
            @include Flex_start;
            li{
                width: 33%;
                text-align: center;
                img{
                    width: 100%;
                }
            }
        }
    }
}