// 定义变量与值
$whiteColor:#fff;
$orangeColor:#f30;
$blueColor:#069;
// flex布局，从左边开始
@mixin Flex_start{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.my-content{
    position: absolute;
    left: 0;
    top:44px;
    bottom: 50px;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    .category-left{
        height: 100%;
        width: 89px;
        float: left;
        position: relative;
        .links{
            background-color: #f5f5f5;
            a{
                display: block;
                height: 45px;
                line-height: 45px;
                text-align: center;
                color: #666;
                font-size: 14px;
                border-bottom: 1px solid #c9c9c9;
                border-right: 1px solid #c9c9c9;
            }
            .active{
                background-color: #fff;
                border-right:1px solid transparent;
            }
        }
    }
    .category-right{
        height: 100%;
        position: relative;
        margin-left: 90px;
        .brand-list{
            background: #fff;
            margin-top: 10px;
            li{
                width: 33.333%;
                float: left;
                a{
                    display: block;
                    img{
                        width: 100%;
                      }
                }
                p{
                    text-align: center;
                }
            }
            .noresult{
                color: #666;
                font-size: 14px;
                padding: 10px;
            }
         }
    }
}