.login-content {
  position: relative;
  top: 44px;
  bottom: 50px; }
  .login-content #login-btn {
    width: 100%;
    margin: 40px 0; }
  .login-content .register-now {
    display: block;
    margin-top: 60px;
    text-align: right;
    font-size: 14px;
    color: #006699;
    padding-right: 10px; }
  .login-content .getCode {
    position: absolute;
    right: 10px;
    top: 50%;
    color: #fff;
    font-size: 16px;
    transform: translateY(-50%);
    background-color: #007aff;
    padding: 5px;
    border-radius: 4px; }
  .login-content .register-btn {
    width: 100%;
    margin: 10px 0; }
  .login-content .login-now {
    display: block;
    margin-top: 20px;
    text-align: right;
    font-size: 14px;
    color: #006699;
    padding-right: 10px; }
