<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" /> 
    <title>首页</title>
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/FontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/category.css">
</head>
<body>
    <header class="mui-bar mui-bar-nav y_header">
        <h1 class="mui-title">分类中心</h1>
        <a class="mui-icon mui-icon-undo mui-pull-left y_bar_icon" href='javascript:history.back()'></a>
        <a class="mui-icon mui-icon-search mui-pull-right y_bar_icon"></a>
    </header>
    <!-- container-begin -->
    <!-- 内容区域 -->
    <div class="my-content">
        <div class="category-left">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="links" id="links">

                    </div>
                </div>
            </div>
        </div>
        <div class="category-right">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="brand-list mui-clearfix" id="brand-list">

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- container-end -->

    <!-- footer-begin -->
    <nav class="mui-bar mui-bar-tab footer">
        <a class="mui-tab-item" href="index.html">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item mui-active" href="category.html">
            <span class="mui-icon mui-icon mui-icon-bars"></span>
            <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="">
            <span class="mui-icon fa fa-shopping-cart"></span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-tab-item" href="login.html">
            <span class="mui-icon mui-icon-person"></span>
            <span class="mui-tab-label">会员中心</span>
        </a>
    </nav>
    <!-- footer-end -->

    <script src="assets/zepto/zepto.min.js"></script>
    <script src="assets/mui/js/mui.min.js"></script>
    <script src="assets/js/category.js"></script>
    <script src="assets/js/base.js"></script>
    <script src="assets/artTemplate/template-native.js"></script>
    <!-- 一级分类模板引擎 -->
    <script type="text/template" id='category-first'>
        <% for(var i=0;i<result.length;i++){%>
            <a href="#" data-id=<%=result[i].id%>><%=result[i].categoryName %></a>
        <%}%>
    </script>
    <!-- 二级分类模板引擎 -->
    <script type="text/template" id='category-second'>
        <% for(var i=0;i<rows.length;i++){%>
            <li>
                <a href="#">
                    <img src="<%=rows[i].brandLogo%>" alt="">
                    <p><%=rows[i].brandName%></p>
                </a>
            </li>
        <%}%>
        <% if(!rows.length){%>
            <div class="noresult">暂时没有分类数据</div>
        <%}%>
    </script>
</body>
</html>