<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/FontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/detail.css">

</head>

<body>
    <!-- 头部区域 -->
    <header id="header" class="mui-bar mui-bar-nav my-header">
        <h1 class="mui-title">商品详情中心</h1>
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #fff"></a>
    </header>
    <!-- 内容区域 -->
    <div class="mui-content">
        <div class="product-box">

        </div>
        <div class="btns">
            <a href="javascript:;">查看购物车</a>
            <span href="javascript:;" class="btn_addCart">加入购物车</span>
        </div>

    </div>
    <!-- 底部导航栏 -->
    <nav class="mui-bar mui-bar-tab my-footer">
        <a class="mui-tab-item  mui-active" href="index.html">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" href="category.html">
            <span class="mui-icon mui-icon-bars"></span>
            <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="cart.html">
            <span class="mui-icon fa fa-shopping-cart"></span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-tab-item" href="login.html">
            <span class="mui-icon mui-icon-person"></span>
            <span class="mui-tab-label">会员中心</span>
        </a>
    </nav>
    <script src="assets/zepto/zepto.min.js"></script>
    <script src="assets/mui/js/mui.min.js"></script>
    <script src="assets/artTemplate/template-native.js"></script>
    <script src="js/base.js"></script>
    <script src="js/detail.js"></script>
    <script type="text/template" id="productTpl">
        <!-- 产品轮播图 -->
          <div class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
                <% if(!pic ||pic.length == 0) {
                    pic = [{'picAddr':'/m/images/none.png'}];
                } %>
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="javascript:;"><img src="<%=pic[pic.length-1].picAddr%>"></a>
                </div>
                <% for(var i = 0;i < pic.length;i++){ %>
                <div class="mui-slider-item">
                    <a href="javascript:;"><img src="<%=pic[i].picAddr%>"></a>
                </div>
                <% } %>
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="javascript:;"><img src="<%=pic[0].picAddr%>"></a>
                </div>
            </div>
            <div class="mui-slider-indicator">
                <% for(var i = 0;i < pic.length;i++){ %>
                <div class="mui-indicator <%=i==0?'mui-active':''%>"></div>
                <% } %>
            </div>
        </div>

        <!-- 轮播商品描述 -->
        <div class="product-title">
            <p><%=proName%></p>
        </div>
        <div class="price">
            价格：
            <span class="now">￥<%=price%></span>
            <span class="old">￥<%=oldPrice%></span>
        </div>
        <div class="size">
            尺码：
            <%var size = size.split('-')%>
            <!-- ["35","56"] -->
            <% for(var i=size[0];i<=size[1];i++){%>
              <span class="btn_size"><%=i%></span>
            <%}%>
        </div>
        <div class="num">
                <div class="mui-pull-left">数量：</div>
                <div class="mui-pull-left selectNum">
                    <span id="reduce">-</span>
                    <input type="text" value="1" id="inp">
                    <span id="increase">+</span>
                </div>
                <div class="mui-pull-left">剩余：<%=num%>件</div>
            </div>
    </script>
</body>

</html>